<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>xraaba@xraabao.zr</string>
	<key>contactName</key>
	<string>Kennon Bickhart</string>
	<key>description</key>
	<string>A bundle for managing Laravel specific items.</string>
	<key>name</key>
	<string>PHP - Laravel</string>
	<key>uuid</key>
	<string>FA21B740-07E1-4879-9879-AFDDF11E9717</string>
</dict>
</plist>
